datasets>=2.0.0
nltk==3.7
numpy>=1.22.4
pandas>=1.3.3
scikit-learn>=1.1.1
scipy>=1.8.1
sentencepiece>=0.1.96
six>=1.16.0
tensorboard>=2.9.1
torch==1.10.0+cu113
tqdm>=4.64.0
transformers>=4.19.4
nltk>=3.7
flair>=0.11.1
accelerate
protobuf
git+https://github.com/bigscience-workshop/biomedical.git