datasets==2.1.0
nltk==3.7
numpy==1.21.2
pandas==1.3.3
scikit-learn==1.1.1
scipy==1.8.1
sentencepiece==0.1.95
six
tensorboard==2.9.1
tqdm==4.64.0
transformers>=4.19.0
nltk==3.7
flair==0.11.3
accelerate
protobuf
git+https://github.com/bigscience-workshop/biomedical.git
dill==0.3.5.1
evaluate